.main__Nikon-title{
    margin: 0;
    font-family: 'Roboto-Italic';
    font-style: italic;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    padding-top: 50px;
    margin-left: 18%;
}