.header__nav-list{
    margin: 0;
    list-style-type: none;
    padding-top: 30px;
    padding-left: 40px;
}
.header__nav-list li{
    display: inline;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    /* identical to box height */

    
    color: #FFFFFF;
}