.footer{
    margin: 0;
    height: 90px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #281D22;
    gap: 30px;


    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height */
    
    
    color: #FFFFFF;

}

.footer img {
    height: 48px;
    width: 48px;
}

.footer h4{
    margin: 0;
}
